<template>
	<div class="hero-cta">
		<nav class="level">
			<div class="level-item has-text-centered">
				<slot></slot>
			</div>
		</nav>
	</div>
</template>

<script>
export default {
	name: "call-to-action"
};
</script>

<style scoped>
.hero-cta {
	padding: 30px 0;
}
</style>
