<template>
	<div class="card">
		<div class="card-content">
			<div class="level">
				<div class="level-item">
					<slot name="icon" class="icon-block"></slot>
				</div>
			</div>
			<div class="level">
				<slot name="text"></slot>
			</div>
			<div class="level">
				<div class="level-item">
					<slot name="button"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "feature"
};
</script>

<style scoped>
.card-content {
	padding-top: 40px;
	padding-bottom: 40px;
}
</style>
