<template>
	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>multi-cell</strong> is made with love and the source code is licensed 
					<a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
				</p>
				<p>
					<a class="icon" href="https://gitlab.com/multi-cell/multi-cell.gitlab.io">
						<i class="fa fa-github"></i>
					</a>
				</p>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: "footerbar"
};
</script>

<style scoped>
.footer {
	flex: 1;
}
</style>
