<template>
	<section class="hero">
		<div class="hero-head">
			<slot name="hero-head"></slot>
		</div>
		<div class="hero-body">
			<slot name="hero-body"></slot>
		</div>
		<div class="hero-foot">
			<slot name="hero-foot"></slot>
		</div>
	</section>
</template>

<script>
export default {
	name: "hero"
};
</script>
