<template>
	<span class="icon">
		<i :class="styleClass"></i>
	</span>
</template>

<script>
export default {
	name: "icon",
	props: [
		"type"
	],
	computed: {
		styleClass () {
			return `fa fa-${this.type}`;
		}
	}
};
</script>
